{{ define "main" }}
<style>
    /* CSS 示例代码 */
    my-details summary {
        list-style-type: none;
        cursor: pointer;
    }
    .post-len {
        margin-bottom: 3rem;
        padding: 1rem 0;
        border-top: 1px solid #d9d1c7;
        border-bottom: 1px solid #d9d1c7;
    }

    /* 自定义的类名和样式 */
    .my-details-disclosure > .my-archive-posts {
        display: none; /* 初始状态下隐藏文章列表 */
    }

    .my-details-disclosure[open] > .my-archive-posts {
        display: block; /* 当前展开的年份对应的文章列表显示 */
    }
</style>
<script src="{{ $.Site.Params.comments.twikoo.client }}" defer></script>
{{ $js := resources.Get "js/archivesTK.js" }}
{{ $js = slice $js | resources.Concat "js/tk.js" | minify | fingerprint }}
<script src="{{ $js.RelPermalink }}" defer></script>
<div class="my-20 m-auto">
        <h1 class="hidden">{{ .Title }}</h1>
    <div class="post-len">至今已记录了 {{ len (where .Site.RegularPages "Type" "in" "post") }} 份笔记。</div>
    <div class="archives">
        <div class="listing">
            {{ $pages := where .Site.RegularPages "Type" "in" "post" }} 
            {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }} 
            {{ $filtered := ($pages | intersect $notHidden) }} 
            {{ $currentIndex := 0 }} 
            {{ range $filtered.GroupByDate "2006" }} 
            {{ if ne .Key "0001" }}

            <my-details class="my-details-disclosure" {{ if eq $currentIndex 0 }}open{{ end }}>
                <summary class="my-summary">
                    <h3 class="archive-year-header text-3xl font-Hubot font-bold pt-6 pb-1">
                        {{- replace .Key "0001" "" }}
                        <sup class="-left-1 text-sm text-stone-400 -top-4 font-MonteCarlo font-extralight">{{ len .Pages }}</sup>
                    </h3>
                </summary>
                <div class="my-archive-posts">
                    <!-- 这里放置每年的文章列表 -->
                    <div class="archive-posts grid-rows-1">
                        {{- range .Pages }} 
                        {{- if eq .Kind "page" }}
                        <div class="archive-entry" data-relpermalink="{{ .RelPermalink }}">
                            <a class="flex justify-between align-middle py-4 px-2 rounded border-l-4 border-transparent hover:bg-stone-200 hover:border-emerald-500 dark:hover:bg-stone-800" href="{{ .Permalink }}">
                                <span class="title">{{ .Title }}<sup id="{{ .RelPermalink }}" class="left-1 text-stone-400 font-MonteCarlo font-extralight"></sup></span>
                                <time class="date min-w-[3rem]">{{ .Date.Format "01-02" }}</time>
                            </a>
                        </div>
                        {{ end }} {{ end }}
                    </div>
                </div>
            </my-details>
            {{ $currentIndex = add $currentIndex 1 }} {{ end }} {{ end }}
        </div>
    </div>
    <p class="mt-8">
        <a class="my-4 py-5 pr-8 pl-1 font-mono" href="/" title="Retum Home">> cd ..</a>
    </p>
</div>
<script>
    // JavaScript 示例代码

    // 控制折叠/展开行为
    var myDetailsList = document.querySelectorAll('.my-summary');
    myDetailsList.forEach(function (myDetails) {
        myDetails.addEventListener('click', function () {
            this.closest('my-details').toggleAttribute('open');
        });
    });
</script>
{{ end }}
