<!DOCTYPE html>
<html lang="zh-hans">
  <!-- 引入 HEAD 信息 -->
  {{ partial "base/head" . }}
  <body class="bg-stone-100 text-stone-700 dark:bg-stone-900 dark:text-stone-300">
    <div id="app" class="mx-auto px-4 py-6">
      <!-- 引入页首 HEADER -->
      <div class="flex flex-row justify-between">
        {{ partial "base/header" . }}
      </div>
      <!-- 定义内容块 -->
      <div class="max-w-[65ch] mx-auto opacity-80 hover:opacity-100 duration-500">
        {{ block "main" . }}{{ end }}
      </div>
      <!-- 引入页脚 FOOTER -->
      <div class="max-w-[65ch] mx-auto">
        {{ partial "base/footer" . }}
      </div>
    </div>
    {{ partial "base/script" . }}
  </body>
</html>
