<script src="{{ $.Site.Params.comments.twikoo.client }}"></script>
<script>
// 定义异步函数用于加载 JSON 文件
async function loadJSON() {
  try {
    const response = await fetch('slugs.json') // 使用 Fetch API 加载 JSON 文件
    const text = await response.text() // 获取文件内容
    const json = JSON.parse(text) // 解析 JSON 数据

    const urls = Object.values(json) // 获取解析后的数据作为参数

    twikoo
      .getCommentsCount({
        envId: '{{ $.Site.Params.comments.twikoo.envId }}',
        urls: urls,
        includeReply: false,
      })
      .then(function (res) {
        // console.log(res)
        res.forEach(function (item) {
          const countElement = document.getElementById(`${item.url}`) // 根据 URL 获取对应的评论数量元素
          if (countElement) {
            countElement.textContent = `${item.count}` // 将评论数量添加到页面上
          }
        })
      })
      .catch(function (err) {
        console.error(err)
      })
  } catch (error) {
    console.error(error)
  }
}

// 调用异步函数加载 JSON 文件并执行相应操作
loadJSON()
</script>
