{{/* Merge demo site JS and search JS. */}}
{{- $js := partialCached "assets/js-resource" . }}
{{ $searchJS := partialCached "search/assets/js-resource" . }}
{{ $codeJS := partialCached "code-block-panel/assets/js-resource" . }}
{{ $js = slice $js $searchJS $codeJS | resources.Concat "js/bundle.js" | minify | fingerprint "md5" }}
<script src="{{ $js.RelPermalink }}" defer></script>

<!-- umami -->
<script
  async
  defer
  src="https://sdn.qylao.com/laomai/laomai.js"
  data-website-id="85a9edfb-5859-4f66-8a28-f7f8548a80b3"
  data-host-url="https://umami.qylao.com"
  data-domains="laomai.org"></script>

<!-- Mathjax -->
{{- if and (or .Params.mathjax (and .Site.Params.mathjax (ne .Params.mathjax false))) (or .IsPage .IsHome) }}
<script src="/js/load-mathjax.js" defer></script>
<style>
  mjx-math {
    font-size: 1.25rem;
  }
</style>
{{- end }}
<!-- End -->
