<style>
    .chat-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding: 20px;
        max-width: 600px;
        margin: 0 auto;
    }
    .message-row {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .message-row img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }
    .message-row.sent {
        align-items: flex-end;
        flex-direction: row-reverse;
    }
    .message-bubble {
        background-color: #e6e6e6;
        padding: 10px;
        border-radius: 5px;
    }
    .message-bubble p {
        margin: 0;
    }
    .message-bubble.sent {
        background-color: #dcf8c6;
    }
    .message-bubble.received {
        background-color: #f3f3f3;
    }
    .message-bubble.received p {
        color: black;
    }
</style>
<div class="chat-container">
    <div class="message-row">
        <img src="https://cdn.qylao.com/laomai/i/202305151515765.png" alt="User avatar" />
        <div class="message-bubble received">
            <p>Jo hun main ah?</p>
        </div>
    </div>
    <div class="message-row">
        <img src="https://cdn.qylao.com/laomai/i/202305151515765.png" alt="User avatar" />
        <div class="message-bubble received">
            <p>All girl gun all mike.</p>
        </div>
    </div>
    <div class="message-row">
        <img src="https://cdn.qylao.com/laomai/i/202305151515765.png" alt="User avatar" />
        <div class="message-bubble received">
            <p>Late six jor fan may?</p>
        </div>
    </div>
    <div class="message-row sent">
        <img src="https://cdn.qylao.com/laomai/i/202305151516039.png" alt="User avatar" />
        <div class="message-bubble sent">
            <p>Ang ang six jor.</p>
        </div>
    </div>
    <div class="message-row">
        <img src="https://cdn.qylao.com/laomai/i/202305151515765.png" alt="User avatar" />
        <div class="message-bubble received">
            <p>I'm good too, thanks for asking.</p>
        </div>
    </div>
</div>
